src/main/mule/demoproj.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="demoprojFlow" doc:id="bdb73378-8897-46a7-adc3-85c217766d03" >
		<scheduler doc:name="Scheduler" doc:id="6752c91e-c84b-475a-bd63-b2ff38d7ea18" >
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</scheduler>
		<logger level="INFO" doc:name="Logger" doc:id="8f23675f-436a-4c6c-b044-380ae58eed29" message='#["Hello World!"]'/>
	</flow>
</mule>
